.enter-animation {
    animation: slide-fade 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-0);
  }
}

.leave-animation {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}