<div>
  <div>
    <div class="flex flex-row justify-between items-center mb-8">
      <button
        type="button"
        class="btn uppercase! bg-transparent! text-black! border! border-gray-300! flex flex-row gap-1 items-center"
        (click)="navigateBack()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4"
          viewBox="0 0 24 24"
          width="20"
          height="20"
          color="currentColor"
          fill="none"
          stroke="#141B34"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M17 4L8.66943 10.0405C6.44352 11.6545 6.44353 12.3455 8.66943 13.9595L17 20"
          /></svg
        >back
      </button>
      <button class="btn" type="button">manage financials</button>
    </div>
    <div>
      <div
        class="border border-gray-200 rounded-md py-7 px-4 flex flex-row justify-between bg-primary-light"
      >
        <div class="flex flex-row gap-13">
          <span
            class="uppercase bg-primary rounded-full p-6 w-30 h-30 text-6xl font-bold text-white flex justify-center items-center"
            >r</span
          >
          <div>
            <span class="capitalize text-2xl font-bold">richard johnson</span>
            <div class="mt-4 flex flex-row gap-4">
              <div class="flex flex-col gap-y-2">
                <span class="text-sm capitalize">email:</span>
                <span class="text-sm capitalize">gender:</span>
                <span class="text-sm capitalize">role:</span>
                <span class="text-sm capitalize">questions:</span>
                <span class="text-sm first-letter:capitalize">fee paid per question:</span>
              </div>
              <div class="flex flex-col gap-2">
                <span class="text-sm">richard@me.com</span>
                <span class="text-sm">male</span>
                <span class="text-sm">author</span>
                <span class="text-sm">__</span>
                <span class="text-sm">__</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row gap-2">
          <div>
            <span class="font-semibold first-letter:capitalize">status:</span>
            @if (true) {
              <button
                type="button"
                class="btn self-start ml-2 bg-transparent! text-primary! border! border-primary"
              >
                active
              </button>
            } @else {
              <button
                type="button"
                class="btn self-start ml-2 bg-transparent! text-red-400! border! border-red-400"
              >
                inactive
              </button>
            }
          </div>
        </div>
      </div>
    </div>

    <hr class="border-0.1 border-dashed border-gray-300 -ml-6 -mr-6 my-9" />

    <div>
      <span class="font-bold text-2xl capitalize">assigned subject</span>

      <div class="flex flex-row gap-4 flex-wrap mt-5">
        <div>
          <div class="border border-gray-200 flex flex-col gap-2 p-3 w-65 rounded-2xl">
            <div class="flex flex-row gap-2">
              <span class="first-letter:uppercase font-bold text-lg">use of english</span>
              <span class="uppercase font-bold text-lg">uoe</span>
            </div>
            <div class="h-1.5 rounded-2xl mb-4">
              <div class="h-full w-10 rounded-2xl bg-primary"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="border border-gray-200 flex flex-col gap-2 p-3 w-65 rounded-2xl">
            <div class="flex flex-row gap-2">
              <span class="first-letter:uppercase font-bold text-lg">use of english</span>
              <span class="uppercase font-bold text-lg">uoe</span>
            </div>
            <div class="h-1.5 rounded-2xl mb-4">
              <div class="h-full w-10 rounded-2xl bg-primary"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="border border-gray-200 flex flex-col gap-2 p-3 w-65 rounded-2xl">
            <div class="flex flex-row gap-2">
              <span class="first-letter:uppercase font-bold text-lg">use of english</span>
              <span class="uppercase font-bold text-lg">uoe</span>
            </div>
            <div class="h-1.5 rounded-2xl mb-4">
              <div class="h-full w-10 rounded-2xl bg-primary"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="border border-gray-200 flex flex-col gap-2 p-3 w-65 rounded-2xl">
            <div class="flex flex-row gap-2">
              <span class="first-letter:uppercase font-bold text-lg">use of english</span>
              <span class="uppercase font-bold text-lg">uoe</span>
            </div>
            <div class="h-1.5 rounded-2xl mb-4">
              <div class="h-full w-10 rounded-2xl bg-primary"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="border border-gray-200 flex flex-col gap-2 p-3 w-65 rounded-2xl">
            <div class="flex flex-row gap-2">
              <span class="first-letter:uppercase font-bold text-lg">use of english</span>
              <span class="uppercase font-bold text-lg">uoe</span>
            </div>
            <div class="h-1.5 rounded-2xl mb-4">
              <div class="h-full w-10 rounded-2xl bg-primary"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="border border-gray-200 flex flex-col gap-2 p-3 w-65 rounded-2xl">
            <div class="flex flex-row gap-2">
              <span class="first-letter:uppercase font-bold text-lg">use of english</span>
              <span class="uppercase font-bold text-lg">uoe</span>
            </div>
            <div class="h-1.5 rounded-2xl mb-4">
              <div class="h-full w-10 rounded-2xl bg-primary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create new User -->
<p-dialog
  header="Create a User"
  [draggable]="false"
  [closable]="false"
  [modal]="true"
  [(visible)]="showManageFinancialsModal"
  [style]="{ width: '35rem' }"
>
  <span class="block mb-8 first-letter:capitalize"
    >please fill in the fields below to manage financials</span
  >
  <div>
    <form class="form" (submit)="onCreateManageFinancials($event)" novalidate>
      <div class="form-container grid! grid-cols-1! md:grid-cols-2! gap-4">
        <div class="form-group">
          <label for="fee-paid-per-question">Fee paid per question</label>
          <input
            id="fee-paid-per-question"
            type="number"
            [field]="manageFinancialForm.feePaid"
            [ngClass]="{
              'border border-red-400!':
                manageFinancialForm.feePaid().invalid() && manageFinancialForm.feePaid().touched(),
            }"
            placeholder="enter title"
            class="form-control"
          />
          @if (manageFinancialForm.feePaid().invalid() && manageFinancialForm.feePaid().touched()) {
            <div class="control-error">
              @for (error of manageFinancialForm.feePaid().errors(); track error.kind) {
                <span>{{ error.message }}</span>
              }
            </div>
          }
        </div>

        <!-- <div class="form-group">
                    <label>first name</label>
                    <input type="text" [field]="manageFinancialForm.comment"
                        [ngClass]="{'border border-red-400!': createNewUserForm.firstName().invalid() && createNewUserForm.firstName().touched()}"
                        placeholder="enter first name" class="form-control">
                    @if(createNewUserForm.firstName().invalid() && createNewUserForm.firstName().touched()) {
                    <div class="control-error">
                        @for(error of createNewUserForm.firstName().errors(); track error.kind) {
                        <span>{{error.message}}</span>
                        }
                    </div>
                    }
                </div> -->
      </div>

      <div class="flex flex-row justify-between gap-6 mt-6">
        <button class="btn flex-1" type="submit">submit</button>
      </div>
    </form>
  </div>
</p-dialog>
