/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '@ngxpert/hot-toast/styles.css';

/* inter-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-100.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-100.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-200.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-200.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-300.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-300.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-500.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-600.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-800.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../public/fonts/inter/inter-v20-latin/inter-v20-latin-900.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@theme {
  /* Color */
  --color-primary: #25A249;
  --color-primary-light: #EBFFEB;
  --color-dark-gray: #8E8E8E;

  /* Font */
  --font-inter: inter, sans-serif;

}

body {
  @apply font-inter h-dvh font-normal overflow-hidden text-xs bg-white
}

/* Global Button Styling */
.btn {
  @apply w-full first-letter:capitalize rounded-md bg-primary text-white font-normal text-center py-2 text-sm cursor-pointer hover:bg-green-700
}

/* Global form styling */
.form {
  @apply border border-white
}

.form .form-container {
 @apply flex flex-col gap-4
}

.form .form-container .form-group {
 @apply flex flex-col gap-2
}

.form .form-container .form-group .control-error {
 @apply text-xs text-red-400 first-letter:capitalize
}

.form .form-container label {
 @apply text-black font-semibold capitalize text-xs
}

.form-group .form-control {
  @apply border border-gray-300 focus:border-primary rounded-sm py-2 px-2 text-xs text-black font-normal placeholder:capitalize! placeholder-gray-500 placeholder:opacity-50 focus:outline-0
}

/* Global nav styling */
.nav {
  @apply p-3 rounded-sm cursor-pointer text-sm
}

.nav-active {
  @apply bg-primary text-white cursor-pointer text-sm rounded-sm p-3;
}

.nav-active svg {
  @apply stroke-white;
}

.nav:hover {
  @apply bg-primary;
}